<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Turing - IT Solutions and Corporate Template</title>
	<link rel="canonical" href="http://demo.tempload.com/turing/blue-blog-single.html" />
	<meta name="description" content="Turing - IT Solutions and Corporate template by tempload." />
	<meta name="keywords" content="turing, startup, saas, agency, development, html, template, tempload" />
	<meta name="author" content="tempload"/>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../turing/assets/images/favicon/favicon.png" />
	<!-- Bootstrap & Plugins CSS -->
	<link href="../turing/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../turing/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../turing/assets/css/magnific-popup.css" rel="stylesheet" type="text/css">
	<!-- Custom CSS -->
	<link href="../turing/assets/css/blue.css" rel="stylesheet" type="text/css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118135390-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-118135390-1');
	</script>
</head>
<body>
	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div id="loader" class="spinner">
			<div id="shadow"></div>
			<div id="box"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->
	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-white">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="../index.html" class="logo">
							<img src="../turing/assets/images/logo-blue.png" alt="Turing"/>
						</a>
						<!-- ***** Logo End ***** -->
						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="../index.html#welcome">Home</a></li>
							<li class="submenu">
								<a href="javascript:;">Discover</a>
								<ul>
									<li><a href="../index.html#features">Features</a></li>
									<li><a href="../index.html#our-team">Our Team</a></li>
									<li><a href="../index.html#pricing-plans">Pricing Plans</a></li>
									<li><a href="../index.html#blog">Latests Blogs</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:;">Pages</a>
								<ul>
									<li><a href="../turing/blue-about.html">About Us</a></li>
									<li><a href="../turing/blue-features.html">Features</a></li>
									<li><a href="../turing/blue-faq.html">FAQ's</a></li>
									<li><a href="../turing/blue-blog.html">Blog</a></li>
								</ul>
							</li>
							<li><a href="../turing/blue-contact.html">Contact</a></li>
						</ul>
						<a class="menu-trigger">
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
						<!-- ***** Header Buttons Start ***** -->
						<ul class="header-buttons">
							<li><a class="btn-nav-line" href="../turing/blue-features.html">Apps</a></li>
							<li><a class="btn-nav-primary" href="../turing/blue-faq.html">Support</a></li>
						</ul>
						<!-- ***** Header Buttons End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->
	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="../turing/assets/images/photos/parallax-counter.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Turing Partners with Velocloud to Deliver Managed SD-WAN</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="../index.html">Home</a></li>
								<li><a href="../turing/blue-blog.html">Blog</a></li>
								<li class="active">Blog Single</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->
		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom">
			<div class="container">
				<div class="row">
					<!-- ***** Page Content Start ***** -->
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="blog-list">
							<div class="row">
								<!-- ***** Blog Post Start ***** -->
								<div class="col-lg-12">
									<div class="blog-post-thumb big">
										<!-- ***** Post Top Start ***** -->
										<div class="img">
											<img src="../turing/assets/images/photos/blog/1.jpg" alt="">
											<div class="date">
												<strong>APR</strong>
												<span>09</span>
											</div>
										</div>
										<ul class="post-meta margin-bottom-20">
											<li><a href="#"><span class="icon fa fa-user"></span>by Hexagon</a></li>
											<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
										</ul>
										<!-- ***** Post Top End ***** -->
										<!-- ***** Post Content Start ***** -->
										<div class="text post-detail">
											<p>Mauris tellus sem, ultrices varius nisl at, convallis iaculis mauris. Sed eget sem vitae purus tempus dignissim. Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.</p>
											<!-- ***** Gallery Start ***** -->
											<div class="row page-gallery-wrapper">
												<div class="col-lg-4 col-md-4 col-sm-12">
													<a href="../turing/assets/images/photos/blog/1.jpg" class="page-gallery" title="Manage In One Place">
														<img src="../turing/assets/images/photos/blog/1.jpg" alt="">
													</a>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-12">
													<a href="../turing/assets/images/photos/blog/2.jpg" class="page-gallery" title="Manage In One Place">
														<img src="../turing/assets/images/photos/blog/2.jpg" alt="">
													</a>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-12">
													<a href="../turing/assets/images/photos/blog/3.jpg" class="page-gallery" title="Manage In One Place">
														<img src="../turing/assets/images/photos/blog/3.jpg" alt="">
													</a>
												</div>
											</div>
											<!-- ***** Gallery End ***** -->
											<p>Quisque bibendum mi quis consequat ultricies. Donec quis pharetra nisi, a congue justo. Aliquam erat volutpat. Nunc id lacus egestas, accumsan lorem eu, rhoncus velit. Duis dapibus varius mauris, ut rutrum leo vulputate a. Praesent ac fringilla turpis. Donec rhoncus eget enim sit amet euismod. Pellentesque pellentesque malesuada lobortis. Quisque et dictum nulla. Sed eu ante at massa imperdiet ultricies. Vivamus vulputate faucibus lorem, eget efficitur purus dictum nec.</p>
											<blockquote>
												<div class="text">
													<p>Aliquam ullamcorper malesuada dapibus. Curabitur ac lectus sit amet dui euismod auctor. Suspendisse sagittis id lacus eget vulputate. Ut nec arcu ut sem molestie tincidunt luctus eget tellus. Etiam consectetur, eros eu laoreet sagittis.</p>
												</div>
												<div class="author">Parsley Montana</div>
											</blockquote>
											<p>Suspendisse condimentum, eros ac pulvinar iaculis, augue odio vehicula leo, vitae dictum nibh quam rhoncus risus. Nam tristique tellus et convallis faucibus. Cras in lacus at odio tristique tempor vel quis sem. Sed id lorem sit amet turpis mattis tempor.</p>
										</div>
										<!-- ***** Post Content End ***** -->
										<!-- ***** Post Share Start ***** -->
										<div class="post-footer">
											<span>Share - </span>
											<ul class="share">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
										<!-- ***** Post Share End ***** -->
									</div>
								</div>
								<!-- ***** Blog Post End ***** -->
								<!-- ***** Comment List Start ***** -->
								<div class="col-lg-12">
									<div class="section-comments">
										<h5 class="margin-bottom-60">Comments (3)</h5>
										<ul>
											<li>
												<div class="avatar">
													<img src="../turing/assets/images/photos/comment-avatar.png" alt="">
												</div>
												<div class="comment-content">
													<div class="comment-by">
														<strong>Hans Down</strong>
														<span>09 APR 2021</span>
														<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
													</div>
													<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
												</div>
											</li>
											<li>
												<div class="avatar">
													<img src="../turing/assets/images/photos/comment-avatar.png" alt="">
												</div>
												<div class="comment-content">
													<div class="comment-by">
														<strong>Penny Tool</strong>
														<span>09 APR 2021</span>
														<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
													</div>
													<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
												</div>
												<ul>
													<li>
														<div class="avatar">
															<img src="../turing/assets/images/photos/comment-avatar.png" alt="">
														</div>
														<div class="comment-content">
															<div class="comment-by">
																<strong>Eric Widget</strong>
																<span>09 APR 2021</span>
																<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
															</div>
															<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!-- ***** Comment List End ***** -->
								<!-- ***** Comment Form Start ***** -->
								<div class="col-lg-12">
									<div class="post-comment">
										<h5 class="margin-bottom-30">Post a Comment</h5>
										<div class="comment-form">
											<form method="post">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-12">
														<div class="form-item">
															<label for="f1">Name:</label>
															<input type="text" id="f1">
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-12">
														<div class="form-item">
															<label for="f2">Email:</label>
															<input type="text" id="f2">
														</div>
													</div>
													<div class="col-lg-12">
														<div class="form-item">
															<label for="f3">Comment:</label>
															<textarea id="f3"></textarea>
														</div>
													</div>
													<div class="col-lg-12">
														<button type="submit" class="btn-primary-line">Submit Comment</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- ***** Comment Form End ***** -->
							</div>
						</div>
					</div>
					<!-- ***** Page Content End ***** -->
					<!-- ***** Aside Start ***** -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<aside class="default-aside">
							<div class="sidebar">
								<div class="search-widget">
									<div class="search">
										<form>
											<input type="text" placeholder="Search">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</div>
								<ul>
									<li><a href="#">Cloud PMS <span>23</span></a></li>
									<li><a href="#">Desktop PMS <span>12</span></a></li>
									<li><a href="#">Hotel Software <span>153</span></a></li>
									<li><a href="#">Social Media <span>9</span></a></li>
									<li><a href="#">General <span>95</span></a></li>
									<li><a href="#">Marketing <span>32</span></a></li>
									<li><a href="#">Mobile Future <span>76</span></a></li>
								</ul>
								<div class="widget-tags">
									<a href="#">Team</a>
									<a href="#">Hotel</a>
									<a href="#">Android</a>
									<a href="#">App</a>
									<a href="#">Software</a>
									<a href="#">Development</a>
									<a href="#">API</a>
									<a href="#">Store</a>
									<a href="#">Reservation</a>
									<a href="#">Analytics</a>
									<a href="#">Support</a>
									<a href="#">Coding</a>
									<a href="#">Database</a>
								</div>
							</div>
						</aside>
					</div>
					<!-- ***** Aside End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>
	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../turing/assets/images/logo-blue.png" class="logo" alt="">
					<div class="text">Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Features</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Support</h5>
					<ul class="footer-nav">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Privacy Policy</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Terms of Use</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Support Center</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
						<p>Phone: (272) 211-7370</p>
						<p><span>E-Mail:</span><a href="#">support@yourbrand.com</a></p>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-github-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">© 2021 Turing. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer End ***** -->
	<!-- jQuery -->
	<script src="../turing/assets/js/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap -->
	<script src="../turing/assets/js/popper.js"></script>
	<script src="../turing/assets/js/bootstrap.min.js"></script>
	<!-- Plugins -->
	<script src="../turing/assets/js/scrollreveal.min.js"></script>
	<script src="../turing/assets/js/parallax.min.js"></script>
	<script src="../turing/assets/js/waypoints.min.js"></script>
	<script src="../turing/assets/js/jquery.counterup.min.js"></script>
	<script src="../turing/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../turing/assets/js/imgfix.min.js"></script>	
	<!-- Global Init -->
	<script src="../turing/assets/js/custom.js"></script>
</body>
</html>