/*  Nuestros CSS  */
*{
    font-family: system-ui;
}

.text-rightimportant {
    text-align: right !important;
}

.roundedbig{
    border-radius: 1rem !important;
}

.padding-10 {
    padding: 10px !important;
}

.lineaBottom {
    border-bottom: 1px solid #2c2e33 !important
}


.locationDiv {
    padding-right: 22px !important;
    padding-left: 2px !important;
}

.locationDiv>div {
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    padding-right: 22px !important;
    padding-left: 2px !important;

}

.locationDiv>div>p {
    margin: 1px !important;
}

.settingsMinSize {
    min-height: 470px;
    max-height: 470px;
}

.input-enabled-settings {
    background-color: #ffffff!important;
    color: #000000!important;
    height: 30px!important;
}

.input-disabled-settings {
    background-color: #2A3038!important;
    color: #FFFFFF!important;
    height: 30px!important;
}

.contenedor {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.titleMenu {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 20px;
}
.serchBox {
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 0.56rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
}
.primary-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: #0056b3;
}
.login-bg {
    background: url(/static/images/auth/fondo_1_comprimido.jpg) no-repeat center center;
    background-size: cover;
}
.sign-upnoM a {
    text-decoration: none;
    color: blue;
    font-size: 16px;
}
.forgot-pass {
    text-decoration: none;
    color: blue;
    font-size: 13px;
}

.forgot-pass:hover {
    text-decoration: underline;
}
.sign-upnoM {
    margin-top: 20px;
}
.sign-upnoM a:hover {
    text-decoration: underline;
}
/* Create three columns of equal width */
.columns {
float: left;
width: 33.3%;
padding: 8px;
}

/* Style the list */
.price {
list-style-type: none;
border: 1px solid #eee;
margin: 0;
padding: 0;
-webkit-transition: 0.3s;
transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
background-color: #111;
color: white;
font-size: 25px;
}

/* List items */
.price li {
padding: 20px;
text-align: center;
}

/* Grey list item */
.price .grey {
background-color: #191c24;
font-size: 20px;
color: #ffffff;
}

/* The "Sign Up" button */
.button {
background-color: #04AA6D;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}
.gris{
    background-color: #2c2e33;
}
.lineaBlanca{
    border-bottom: 1px solid #eee;
}
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination,
.jsgrid .jsgrid-pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem
}


.page-link {
    color: white;
}

.pagination.pagination-flat .page-item {
    margin: 0 .25rem;
}

.pagination-success .page-item.active .page-link {
    background: #00c689;
    border-color: #ffffff;
}

.confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.confirmation-dialog button {
    margin: 0 5px;
}
.tituloBlanco th {
    color: white !important;
    background-color: #111 !important;
}
.icon-red {
    color: red;
}

.icon-green {
    color: green;
}
.icon-yellow {
    color: rgb(248, 224, 6);
}
.espacio {
    margin-right: 15px;
}
.fondo-blue {
    background-color: #0864c6;
    color: white;
}
.fondo-grey {
    background-color: #2c2e33;
    color: white;
}
/* Register CCS */
.password-container {
    position: relative;
}

.info-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.tooltipRegister {
    position: absolute;
    top: -30px;
    left: calc(100% + 10px);
    font-size: 14px;
    margin-left: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    width: 200px;
    visibility: hidden;
    transition: opacity 0.3s;
}

.mdi.mdi-information-outline {
    color: #0d6efd;
    font-size: 24px;
}

.forgot-pass {
    color: #0d6efd;
}

/* Panel Admin CSS*/
.tooltip {
    position: absolute;
    top: -45px;
    left: -50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    width: 130px;
    visibility: hidden;
    transition: opacity 0.3s;
    text-align: center;
  }

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}

.icon-candado {
    color: #ac780e;

}
.button.disabled {
    background-color: #ccc; 
    color: #999; 
    cursor: not-allowed; 
}