<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cloudator register</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{../static/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{../static/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{../../../static/css/style.css}">
  <link rel="stylesheet" th:href="@{../../../static/css/custom.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{../../../static/images/favicon.png}" />

  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{../static/css/style.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{../static/images/favicon.png}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Nuevo usuario</h3>
              <div th:if="${param.success}">
                <div class="alert badge-success">Te has registrado correctamente!</div>
              </div>
              <form method="post" role="form" th:action="@{/post/register/save}" th:object="${user}">
                <div class="form-group">
                  <label>Nombre de Usuario</label>
                  <input id="username" name="username" placeholder="Introduce tu nombre de usuario"
                    th:field="*{username}" type="text" class="form-control p_input" required>
                  <div th:if="${param.errorusername}">
                    <div class="alert alert-danger">
                      Ya existe un usuario con este nombre
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input id="email" name="email" placeholder="Introduce un email" th:field="*{email}" type="email"
                    class="form-control p_input" required>
                  <div th:if="${param.errormail}">
                    <div class="alert alert-danger">
                      Ya existe un usuario con este email.
                    </div>
                  </div>
                  <div th:if="${param.errorvalidmail}">
                    <div class="alert alert-danger">
                      Este no es un mail valido.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Contraseña</label>
                  <div class="password-container">
                    <input id="password" name="password" placeholder="Introduce contraseña" th:field="*{password}"
                      type="password" class="form-control p_input" required>
                    <button type="button" class="info-button mdi mdi-information-outline"
                      onmouseover="mostrarMensaje(this.parentElement.querySelector('.tooltipRegister'))"
                      onmouseout="ocultarMensaje(this.parentElement.querySelector('.tooltipRegister'))"></button>
                    <div class="tooltipRegister">(Mínimo 8 caracteres, incluyendo números, mayúsculas y minúsculas y un
                      caracter especial "$ ; . _ - * .")</div>
                  </div>
                  <div th:if="${param.errorpassword}">
                    <div class="alert alert-danger">
                      La contraseña no cumple con los requisitos.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Confirma la contraseña</label>
                  <input id="confirmar" name="confirmar" placeholder="vuelve a introducir la contraseña" type="password"
                    class="form-control p_input" required>
                  <div id="errorpassworddif" th:if="${param.errorpassworddif}" class="alert alert-danger">
                    Las contraseñas no coinciden.
                  </div>
                </div>
                <div class="text-center">
                  <!-- Cambiado de type="submit" a type="button" -->
                  <button type="button" class="btn btn-primary btn-block enter-btn" onclick="verificarContrasena()">Regístrate</button>
                </div>                
                <p class="sign-up text-center">Ya tienes una cuenta?<a th:href="@{/login}"> Inicia sesión aqui! </a></p>
                <p class="terms">*Creando una cuenta estas aceptando nuestros<a th:href="@{/terms}"> Terminos y condiciones</a></p>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{../static/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script th:src="@{../static/js/off-canvas.js}"></script>
  <script th:src="@{../static/js/hoverable-collapse.js}"></script>
  <script th:src="@{../static/js/misc.js}"></script>
  <script th:src="@{../static/js/settings.js}"></script>
  <script th:src="@{../static/js/todolist.js}"></script>
  <script th:src="@{../static/js/eventColorRegister.js}"></script>
  <script th:src="@{../static/js/tooltips.js}"></script>
  <script th:src="@{../static/js/confirmarPass.js}"></script>


  <!-- endinject -->
</body>

</html>