<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>settings</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{../../../static/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{../../../static/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{../../../static/vendors/jvectormap/jquery-jvectormap.css}">
  <link rel="stylesheet" th:href="@{../../../static/vendors/flag-icon-css/css/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{../../../static/vendors/owl-carousel-2/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{../../../static/vendors/owl-carousel-2/owl.theme.default.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{../../../static/css/style.css}">
  <link rel="stylesheet" th:href="@{../../../static/css/custom.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{../../../static/images/favicon.png}" />
</head>

<body>
  <div class="container-scroller">
    <!--LEFT SIDEBAR -->
    <div th:replace="~{fragments/sidebar :: html_sidebar}"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <!--TOP SIDEBAR -->
      <div th:replace="~{fragments/topbar :: html_topbar}"></div>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row locationDiv">
            <div class="border rounded card">
              <p>Indice > Ajustes</p>
            </div>
          </div>
          <div th:if="${param.success}">
            <div class="alert alert-success">
              Actualizado correctamente.
            </div>
          </div>
          <div th:if="${param.success2}">
            <div class="alert alert-success">
              Un administrador a actualizado correctamente.
            </div>
          </div>
          <div th:if="${param.error}">
            <div class="alert alert-danger">
              Ha ocurrido un error al actualizar los datos, inténtalo de nuevo más tarde.
            </div>
          </div>
          <div th:if="${param.error2}">
            <div class="alert alert-danger">
              La contraseña nueva no cumple con los requisitos mínimos.<br>(Mínimo 8 caracteres, incluyendo números,
              mayúsculas y minúsculas y un caracter especial "$ ; . _ - * .")

            </div>
          </div>

          <form id="imageForm" style="display:none;">
            <input type="file" id="imageInput2" name="image"> <!-- Input para la imagen REPETIDO -->
            <!-- Otros campos necesarios para el formulario de la imagen -->
          </form>
          <div class="row">

            <!--TEST CARDS-->
            <div class="">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="border rounded card-body text-center settingsMinSize">

                      <!-- IMAGE -->
                      <div class="position-relative" style="cursor: pointer;">
                        <!--<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                          alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" id="profileImage"> -->
                        <img src="http://management-pants.gl.at.ply.gg:27118/upload/ + ${userId} + /pfp/profile.jpg"
                          alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" id="profileImage">
                        <div class="overlay"
                          style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .5s ease; background-color: rgba(0,0,0,0.5);">
                          <div class="text"
                            style="color: white; font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                            Haz click para cambiar imagen
                          </div>
                        </div>
                      </div>
                      <form id="uploadForm" th:action="@{/post/settingsimage}" th:object="${user}" method="POST"
                        enctype="multipart/form-data" style="display: none;">
                        <input type="file" id="imageInput" name="image" accept="image/jpeg, image/png">
                      </form>
                      <!-- END IMAGE -->


                      <form class="" th:action="@{/post/settingsuser}" th:object="${user}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <div>

                          <div class="mt-4">
                            <div class="form-group">
                              <label for="username">Nombre de Usuario</label>

                              <input type="text"
                                class="form-control input-disabled-settings text-muted mb-0 editable-input user-input"
                                id="username" name="username" th:value="${user.username}" disabled>
                            </div>
                            <div class="form-group">
                              <label for="email">Correo Electrónico</label>
                              <input type="email"
                                class="form-control input-disabled-settings text-muted mb-0 editable-input user-input"
                                id="email" name="email" th:value="${user.email}" disabled>
                            </div>
                            <div class="form-group">
                              <label for="password">Contraseña</label>
                              <input type="password"
                                class="form-control input-disabled-settings text-muted mb-0 editable-input user-input"
                                id="password" name="password" value="" disabled>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center mb-2">
                            <button type="button" onclick="toggleUserEdit()" id="editUserInfo"
                              class="btn btn-primary btn-icon-text me-2" style="width: 49%;">
                              <i class="mdi mdi-account"></i> Editar
                            </button>
                            <button type="submit" onclick="saveUserChanges()" id="saveUserChanges"
                              class="btn btn-success btn-icon-text ms-2" style="width: 49%;" disabled>
                              <i class="mdi mdi-content-save-all"></i> Guardar
                            </button>
                          </div>

                        </div>
                      </form>
                    </div>

                  </div>
                </div>

                <!-- El DISEÑO SE PONE ABAJO POR CULPA DEL FORM -->
                <form class="col-lg-8" th:action="@{/post/settingsoptional}" th:object="${userinfo}" method="post">
                  <div>
                    <div class="card mb-4">
                      <div class="border rounded card-body settingsMinSize d-flex flex-column">
                        <div class="row">
                          <input type="hidden" name="id" th:value="${userinfo.id}" />
                          <div class="col-sm-2">
                            <p class="mb-0">Nombre</p>
                          </div>
                          <div class="col-sm-10">

                            <input id="name" name="name" type="text"
                              class="form-control input-disabled-settings text-muted mb-0 editable-input user-info-input"
                              th:value="${userinfo.getPName()}" disabled>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-2">
                            <p class="mb-0">Apellido</p>
                          </div>
                          <div class="col-sm-10">
                            <input id="surname" name="surname" type="text"
                              class="form-control input-disabled-settings text-muted mb-0 editable-input user-info-input"
                              th:value="${userinfo.getPSurname()}" disabled>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-2">
                            <p class="mb-0">Dirección</p>
                          </div>
                          <div class="col-sm-10">
                            <input type="text" id="address" name="address"
                              class="form-control input-disabled-settings text-muted mb-0 editable-input user-info-input"
                              th:value="${userinfo.getPAddress()}" disabled>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-2">
                            <p class="mb-0">Fecha de nacimiento</p>
                          </div>
                          <div class="col-sm-10">
                            <input type="date" id="birthday" name="birthday"
                              class="form-control input-disabled-settings text-muted mb-0 editable-input user-info-input"
                              th:value="${userinfo.getPBirthday()}" disabled>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-2">
                            <p class="mb-0">Tipo de Usuario</p>
                          </div>
                          <div class="col-sm-10">

                            <input type="text" class="form-control input-disabled-settings text-muted mb-0"
                              th:each="role : ${user.roles}" th:value="${role.getDisplayName()}" disabled>

                          </div>
                        </div>
                        <hr>
                        <div class="row mt-auto">
                          <div class="col d-flex justify-content-between">
                            <button type="button" onclick="toggleEdit()" id="editOptionalInfo"
                              class="btn btn-primary btn-icon-text mx-1 my-1" style="flex: 1 1 auto;">
                              <i class="mdi mdi-account"></i> Editar
                            </button>
                            <button type="submit" id="saveChanges" class="btn btn-success btn-icon-text mx-1 my-1"
                              style="flex: 1 1 auto;" disabled>
                              <i class="mdi mdi-content-save-all"></i> Guardar
                            </button>
                            <button type="button" th:href="${'/users/delete/' + user.id}"
                              th:onclick="'addIdToModal(' + ${user.id} + ')'" data-toggle="modal"
                              data-target="#eliminarModal" class="btn btn-danger btn-icon-text mx-1 my-1"
                              style="flex: 0 1 auto;">
                              <i class="mdi mdi-close btn-icon-prepend"></i> Eliminar Cuenta
                              <span id="deleteID" hidden></span>
                            </button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--END TEST CARDS-->
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- MODALS -->

      <!-- Icon Modal -->
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="yellow" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
      </svg>

      <!-- Modal Eliminar -->
      <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header fondo-blue">
              <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
              </svg>
              <h4 class="modal-title" id="exampleModalLabel">Atencion!</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fondo-grey">
              Vas a eliminar este usuario, ¿Estás seguro?
            </div>
            <div class="modal-footer fondo-grey">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" id="eliminarUsuarioBtn">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <script>

    function toggleUserEdit() {
      // Selecciona solo inputs que tengan ambas clases 'editable-input' y 'text-muted mb-0'
      const inputs = document.querySelectorAll('.text-muted.mb-0.editable-input.user-input');
      const editButton = document.getElementById('editUserInfo');
      const saveButton = document.getElementById('saveUserChanges');

      const isEditing = !inputs[0].disabled;

      inputs.forEach(function (input) {
        input.disabled = !input.disabled;
        if (input.disabled) {
          input.classList.remove('input-enabled-settings');
          input.classList.add('input-disabled-settings');
        } else {
          input.classList.remove('input-disabled-settings');
          input.classList.add('input-enabled-settings');
        }
      });

      // Cambia el estado habilitado del botón de guardar basado en el estado de edición
      saveButton.disabled = !saveButton.disabled;

      // Cambia el texto y la clase del botón de editar basado en el estado de edición
      if (isEditing) {
        editButton.innerHTML = '<i class="mdi mdi-account"></i> Editar';
        editButton.className = 'btn btn-primary btn-icon-text w-50'; // Clase original
      } else {
        editButton.innerHTML = '<i class="mdi mdi-close"></i> Cancelar';
        editButton.className = 'btn btn-danger btn-icon-text w-50'; // Cambia la clase a 'danger'
      }
    }


    document.querySelector('form').addEventListener('submit', function () {
      const inputs = document.querySelectorAll('.editable-input.user-input');
      inputs.forEach(function (input) {
        input.disabled = false; // Asegura que los inputs estén habilitados al enviar el formulario
      });
    });



    function toggleEdit() {
      const inputs = document.querySelectorAll('.text-muted.mb-0.editable-input.user-info-input');
      const editButton = document.getElementById('editOptionalInfo');
      const saveButton = document.getElementById('saveChanges');

      const isEditing = !inputs[0].disabled;

      inputs.forEach(function (input) {
        input.disabled = !input.disabled;
        if (input.disabled) {
          input.classList.remove('input-enabled-settings');
          input.classList.add('input-disabled-settings');
        } else {
          input.classList.remove('input-disabled-settings');
          input.classList.add('input-enabled-settings');
        }
      });

      // Cambia el estado disabled de los botones basado en el estado de edición
      saveButton.disabled = !saveButton.disabled;

      if (isEditing) {
        editButton.innerHTML = '<i class="mdi mdi-account"></i> Editar';
        editButton.className = 'btn btn-primary btn-icon-text mx-1 my-1'; // Clase original
      } else {
        editButton.innerHTML = '<i class="mdi mdi-close"></i> Cancelar';
        editButton.className = 'btn btn-danger btn-icon-text mx-1 my-1'; // Cambia la clase a 'danger'
      }
    }


    function saveChanges() {
      console.log('Saving changes...');
    }

    function deleteAnAccount() {
      console.log('Deleting account...');
    }


    document.addEventListener('DOMContentLoaded', function () {
      const profileImageContainer = document.querySelector('.position-relative');
      const overlay = profileImageContainer.querySelector('.overlay');
      const imageInput = document.getElementById('imageInput');
      const uploadForm = document.getElementById('uploadForm');

      profileImageContainer.addEventListener('mouseover', function () {
        overlay.style.opacity = '1';
      });

      profileImageContainer.addEventListener('mouseout', function () {
        overlay.style.opacity = '0';
      });

      profileImageContainer.addEventListener('click', function () {
        imageInput.click();
      });

      imageInput.addEventListener('change', function () {
        // Envia el formulario de la imagen
        uploadForm.submit();
      });
    });

    function addIdToModal(userId) {
      document.getElementById('deleteID').innerHTML = "";
      document.getElementById('deleteID').innerHTML = userId;
      console.log(userId + "added as deleted")

    }

    document.getElementById('eliminarUsuarioBtn').addEventListener('click', function () {
      var userId = document.getElementById("deleteID").textContent;
      console.log('Eliminar usuario con id:', userId);

      if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
        eliminarUsuario(userId);
      }
    });

    function eliminarUsuario(userId) {
      fetch('/users/delete/' + userId, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Error al eliminar el usuario');
          }
          window.location.reload();
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Error al eliminar el usuario');
        });
    }

  </script>

  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{../../../static/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script th:src="@{../../../static/vendors/chart.js/Chart.min.js}"></script>
  <script th:src="@{../../../static/vendors/progressbar.js/progressbar.min.js}"></script>
  <script th:src="@{../../../static/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
  <script th:src="@{../../../static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
  <script th:src="@{../../../static/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
  <script th:src="@{../../../static/js/jquery.cookie.js}" type="text/javascript"></script>
  <script th:src="@{../../../static/js/jquery-3.7.1.min.js}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script th:src="@{../../../static/js/off-canvas.js}"></script>
  <script th:src="@{../../../static/js/hoverable-collapse.js}"></script>
  <script th:src="@{../../../static/js/settings.js}"></script>
  <script th:src="@{../../../static/js/todolist.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script th:src="@{../../../static/js/dashboard.js}"></script>
  <!-- End custom js for this page -->
</body>

</html>