<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cloudator Nosotros</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{../static/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{../static/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{../../../static/css/style.css}">
  <link rel="stylesheet" th:href="@{../../../static/css/custom.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{../../../static/images/favicon.png}"/>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="roundedbig card col-lg-10 mx-auto">
            <div class="card-body px-5 py-5">
              <!-- Sobre nosotros -->
              <h4 class="card-title text-left mb-3"><strong>Sobre Nosotros</strong></h4>
              <p>
                ¡Bienvenido a nuestra plataforma de alojamiento web! Somos un equipo de tres apasionados estudiantes de programación y desarrollo de aplicaciones comprometidos con brindar servicios de alojamiento web de alta calidad y confiabilidad.
              </p>
              <h5>Conoce al Equipo:</h5>
              <p>
                <strong>1. Marc Pedreño - Frontend Wizard</strong><br>
                Marc es nuestro artista en diseño frontend. Con su creatividad y habilidades en HTML, CSS y JavaScript, y Thymeleaf se encarga de crear interfaces intuitivas y atractivas para nuestras páginas web. Su enfoque meticuloso y su pasión por la experiencia del usuario aseguran que cada sitio alojado en nuestra plataforma tenga una apariencia excepcional.
              </p>
              <p>
                <strong>2. Héctor Estrada - Backend Maester</strong><br>
                Héctor es nuestro genio del backend. Con una sólida experiencia en lenguajes como Python, SQL y Java, se encarga de desarrollar la infraestructura robusta que respalda nuestros servicios de alojamiento. Desde la gestión de bases de datos hasta la implementación de funciones complejas, Héctor garantiza que nuestras aplicaciones funcionen sin problemas y de manera eficiente.
              </p>
              <p>
                <strong>3. Eduardo Nuñez - API Connections</strong><br>
                Edu es nuestro gurú de API's. Con su experiencia en herramientas de automatización y despliegue continuo, se asegura de que nuestra infraestructura de alojamiento sea escalable, segura y confiable. Desde la configuración de servidores hasta la implementación de prácticas de seguridad avanzadas, Edu garantiza que nuestros clientes disfruten de un servicio de alojamiento sin interrupciones.
              </p>
              <!-- Fin de Sobre nosotros -->
              <div class="template-demo">
                <button type="button" class="btn btn-primary btn-fw mdi mdi-home" onclick="window.location.href='/'">  Ir a la portada</button>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{../static/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script th:src="@{../../../static/js/off-canvas.js}"></script>
  <script th:src="@{../../../static/js/hoverable-collapse.js}"></script>
  <script th:src="@{../../../static/js/misc.js}"></script>
  <script th:src="@{../../../static/js/settings.js}"></script>
  <script th:src="@{../../../static/js/todolist.js}"></script>
  <!-- endinject -->
  
</body>

</html>
